<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Kz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="icon" href="../img/icon.png" </head>

<body>
    <div class="jumbotron">
        <div class="row w-100">
            <div class="col-md-4">
                <div class="card border-danger mx-sm-1 p-3">
                    <div class="card border-danger shadow text-danger p-3 my-card"><img src="../img/virus.png" alt="">
                    </div>
                    <div class="text-danger text-center mt-3">
                        <h4>Сейчас Болеют:</h4>
                    </div>
                    <div class="text-danger text-center mt-2">
                        <h1>346</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-heart"
                            aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3">
                        <h4>Выздоровела</h4>
                    </div>
                    <div class="text-success text-center mt-2">
                        <h1>9332</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border mx-sm-1 p-3">
                    <div class="card shadow p-3 my-card"><img src="../img/skull.png" alt=""></div>
                    <div class=" text-center mt-3">
                        <h4>Умерло</h4>
                    </div>
                    <div class="text-center mt-2">
                        <h1>346</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card border-danger golge">
                <div class="card-header"><a href="anasayfa.html" class="isteColor">
                        <h5 class="text-center m-2" style="font-weight: bold">NEWS FLOW</h5>
                    </a></div>
                <div class="card-body">
                    <div class="carousel vert slide" data-ride="carousel" data-interval="2000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <ul class="timeline">
                                    <li>
                                        <!--"_blank" tıklanan linkin yeni sekmede açılmasını sağlar.-->
                                        <a target="_blank" href="#">News Headline</a>
                                        <a href="#" class="float-right">09 Ocak, 2019</a>
                                        <p class="article">>Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler burada
                                            gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..</p>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="#">News Headline</a>
                                        <a href="#" class="float-right">4 Temmuz, 2018</a>
                                        <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler
                                            burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler burada
                                            gözükecek..</p>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="#">News Headline</a>
                                        <a href="#" class="float-right">4 Temmuz, 2018</a>
                                        <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler
                                            burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler burada
                                            gözükecek..</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <ul class="timeline">
                                    <li>
                                        <a href="#">News Headline</a>
                                        <a href="#" class="float-right">09 Ocak, 2019</a>
                                        <p class="article">>Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler burada
                                            gözükecek..Haberler burada gözükecek..Haberler burada gözükecek..</p>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="#">News Headline</a>
                                        <a href="#" class="float-right">4 Temmuz, 2018</a>
                                        <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler
                                            burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler burada
                                            gözükecek..</p>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="#">News Headline</a>
                                        <a href="#" class="float-right">4 Temmuz, 2018</a>
                                        <p>Haberler burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler
                                            burada gözükecek..Haberler burada gözükecek..Haberler burada
                                            gözükecek..Haberler burada
                                            gözükecek..</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>